body {
    font-family:verdana,helvetica,arial,sans-serif;
    min-width: 100%;
    font-size: 12px;
}
section{
    position:absolute;
    left: 160px;
    top:74px;
}
ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
ul li{
    list-style:none;
    margin:0px;
    padding:0px;
}
iframe,body{
    padding:0px;
    margin:0px;
}
/**/
span{
    display: inline-block;
    /*margin-left: 10px;*/
}
input{
    border:1px solid #ddd;
    padding-top:2px;
    padding-bottom: 2px;
}
.queryBtn{
    padding:4px 10px;
    background:#eee;
    border:1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
#form{
    max-width: 1000px;
}
#form>div{
    padding: 5px;
}
.l-btn-icon-left .l-btn-text{
    margin: 0 4px 0 32px
}

.file {
    position: relative;
    display: inline-block;

    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 30px;
    width: 260px;
    text-align: right;
}
.file input {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}
#form .form-group{
    width: 31%;
    float: left;
}
#form .form-group>span{
    display: inline-block;
    width:120px;
    text-align: left;
}
#form:after{
    content: '';
    display: block;
    clear: both;
}