/*  * @author yeshanshan
* @time 2017--3-20
* @description 后台管理公用代码块 头部，页脚，侧边栏
* @final modification 2017--3-20
*/
body {
    font-family:verdana,helvetica,arial,sans-serif;
    min-width: 100%;
}
ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
ul li{
    list-style:none;
    margin:0px;
    padding:0px;
}
iframe,body,p{
    padding:0px;
    margin:0px;
}
/*覆盖原有额样式——————开始*/
.layout-split-north,.layout-split-west,.layout-split-south{
    border:0px;
}
/*覆盖原有额样式——————结束*/

/*头部header*/
 .header{
    height:70px;
    line-height: 70px;
    overflow: hidden;
    min-height: 70px;
} 

.color-line{
    width:100%;
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.nav{
    height:60px;
    line-height: 60px;
    display: flex;
    content: content;
    overflow: hidden;
} 
.logo{
    width:20%;
    /* background:red; */
}
.logo img{
    width:140px;
    text-align: center;
    margin-top:10px;
    margin-left: 10px; 
}
.title{
    width:60%;
    text-align: center;
    font-size: 16px;
    color:#333;
    /* background:yellow; */
}
.out{
    width:20%;
    /* background:blue; */
}
.out span{
    display: inline-block;
     margin-right: 10px; 
     float: right;
}
.out img{
    width:20px;
    float: right;
    margin-right: 10px;
    margin-left: 20px;
    margin-top:20px;
}
/*左侧菜单*/
.sidebar-menu{
    width:150px; 
    height:100%;
    min-width: 150px;
    background:#F7F9FA;
    text-align: left;
    font-size: 14px;
}
.OneSide{
}
.OneSide p{
    font-size: 14px;
    color:#333;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
}
.TwoSide{
    /* margin-left: 20px; */
    height:auto;
    line-height: 30px;
}
.TwoSide li{
    padding-left: 30px;
    font-size: 12px;
}
.OneSide p:hover{
    cursor: pointer;
    border-left: 3px solid #95B8E7;
    background:#ECF0F5;
    color:#888;
}
.TwoSide li:hover{
    cursor: pointer;
    background:#ECF0F5;
    color:#983838;
}
/*点击一级标题添加的类*/
.addClassOne{
    border-left: 3px solid #95B8E7;
    background:#ECF0F5;
    color:#888;
}
/*点击二级标题添加的类*/
.addClassTwo{
    cursor: pointer;
    background:#ECF0F5;
    color:#983838;
}
/*右侧content*/
section{
    position:absolute;
    left: 160px;
    top:74px;
}










/*下方footer*/
.footer{
    text-align: center;
}