
/*  * @author yeshanshan
* @time 2017--04-12
* @description 后台管理登陆页面
* @final modification 2017--04-12
*/
body,input,p,span,img{
    margin:0;
    padding:0;
}
body{
    background: #ECF0F5;
    text-align: center;
    font-size: 14px;
    min-width: 1000px;
}
.color-line{
    width:100%;
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.logo{
    width:14%;
    margin-top:7%;
    margin-bottom: 2%;
}
.land-k{
    margin:0 auto;
    width:24%;
    height:10%;
    background: #fff;

    padding: 20px;
    border-top: 0;
    color: #333;
    border-radius: 5px;
    box-shadow: 8px 8px 20px #333;
}
p.title{
    margin-bottom: 20px;
}
.form-group{
    border:1px solid #d2d6de;
    background-color: rgb(250, 255, 189);
    margin-bottom: 15px;
    position: relative;
    border-radius: 2px;
}
input{
    border:none;
    background: transparent;
    width:90%;
    height:100%;
    padding:8px 16px;
    outline:none;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.btn-primary{
    width:20%;
    background-color: #3c8dbc;
    border-color: #367fa9;
    color:#fff;

    float: right;
    border-radius: 2px;
}
.btn-primary:hover{
    cursor:pointer;
}
.btn-primary input{color: #fff;}
span{
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #777
}