<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="v1"> + <input type="text" v-model="v2">
    <button v-on:click="add">=</button>
    <span>{{res}}</span>
</div>
<script src="vue.js"></script>
<script>
var vm = new Vue({
    el:'#app',
    data:{
        v1:1,
        v2:2,
        res:0
    },
    methods:{
        add:function () {
            this.res = this.v1 + this.v2
        }
    }
    
})
</script>
</body>
</html>