<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 'name'="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
<div class="box" id="app">
    <ul>
        <!--track-by:考虑到性能问题，确定唯一性，加上一个标识，允许重复的值-->
        <li v-for="item in list" track-by="$index">{{item}}</li>
    </ul>
    <table>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        <tr v-for="user in list1">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
    </table>
</div>
<script src="./vue1028.js"></script>
<script>
     new Vue({
        el: '#app',
        data: {
            list:[1,2,4,3,4,5,67],
            list1:[
                {name:'hh',age:15},
                {name:'aa',age:18},
                {name:'gg',age:20},
                {name:'rr',age:33}
            ]
        },
        methods: {},
        computed: {}
    })
</script>
</body>
</html>