<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" autofocus autocomplete="off" placeholder="what needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main" v-show="todo.length" v-cloak>
            <input class="togle-all" type="checkout" v-model="allDone">
            <ul class="todo-list">
                <li class="todo" v-for="todo in filteredTodos" :key="todo.id" :class="{ completed: todo.conpleted,editing: todo == editedTodo }">
                    <div class="view">
                        <input type="checkbox" class="toggle" v-model="todo.completed">
                        <label @dbclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input type="text" class="edit" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)"
                        @keyup.esc="cancelEdit(todo)">
                </li>
            </ul>
        </section>
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
                <strong>
                    {remaining}
                </strong>
                {remaining | pluralize} left
            </span>
            <ul class="filters">
                <li><a href="#" :class="{selected:visibility == 'all'}">All</a></li>
                <li><a href="#" :class="{selecter:visibility == 'active'}">Active</a></li>
                <li><a href="#" :class="{selecter:visibility == 'completed'}">Completed</a></li>
            </ul>
            <button class="clear-conpleted" @click="removeCompleted" v-show="todos.length > remaining">
                Clear completed
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>Dobule-click to edit a todo</p>
        <p>Written by <a href="#">Evan You</a></p>
        <p>Part of <a href="#">TodoMVC</a></p>
    </footer>
    <script src="./src/vue1028"></script>
</body>

</html>